
#blocCarto ul
{
	line-height:1em;
	margin-bottom:10px;	
}

#blocCarto
{
	width:770px;
	height:550px;
	position:relative;	
}
#map
{
	width:955px;
	height:550px;
}
#overlay_map 
{
	border:#666 solid 2px;
	width:125px;
	height:125px;
}
#cartoPanel
{
	position:absolute;
	top:0;
	width:303px;
	height:550px;
	background: url(../images/carto/background.png) repeat-y top right ;
}

span#btnFermer
{
	position:absolute;
	right:0px;
	top:200px;
	background: url(../images/carto/onglet_off.png) no-repeat;
	width:24px;
	height:220px;
}
span#btnFermer.close a#aFermer
{
	background: url(../images/carto/onglet_on.png) no-repeat !important;
}

span#btnFermer a
{
	display:block;
	width:24px;
	height:220px;
}

input#searchNomLieux, input#searchNomRues
{
	height:22px;
	float:left;	
	width:200px;
	background:url(../images/carto/bg_recherche.gif) no-repeat;
}

input.btnSearch
{
	background:url(../images/carto/btn_recherche.png) no-repeat transparent;
	width: 31px;
	height:22px;
	float:left;
	cursor: pointer;
	color:#FFF;
	font-size:14px !important;
}

/* --- LISTE LIEUX - PLANS --- */
#blocLieux, #blocPlans {
	width:230px;
}

ul#listeLieux, ul#listePlans
{
	width:100%;
	height:375px;
	background-color:#FFF;
	padding:5px;
	font-family:verdana;
	overflow:auto;
}

ul#listeLieux li, ul#listePlans li
{
	list-style-type: none;
	min-height:25px;
	/*width: 232px;*/
	border-bottom:1px solid #DDD;
	margin:0;
	padding:8px 0 0 0;
	clear:both;
	display:block;
	width:100%;
	float:left;
}
ul#listeLieux ul, ul#listePlans ul
{
	padding-left:20px;
	clear:both;
}

ul#listeLieux li.coche, ul#listePlans li.coche
{
	min-height:30px;
	width: 232px;
	background: url(../images/carto/presence_lieu.gif) no-repeat ;
	border-bottom:1px solid #EEE;
	margin:0;
	padding:0;
}

li.liplan{display:none !important;}

li.noborder
{
	border:none !important;
	min-height:15px !important;
	padding:3px 0 2px 0 !important;
}

/* Required CSS Jquery UI */
.ui-tabs .ui-tabs-hide {
     display: none;
}
.ui-tabs {
     font-size:13px;
}

div#tabs ul.first
{
	/*background: url(../images/carto/lieux_hover.png) no-repeat top left;*/
	width:303px;
	height:43px;
	margin:0;
	padding:0;
}

div#tabs ul.first li
{
	/*display:inline;*/
	float:left;
	margin: 0 12px;
	top:12px;
	position:relative;
	color:#CCCCCC;
}

div#tabs-1,div#tabs-2,div#tabs-3
{
	width:303px;
	background: url(../images/carto/background2.png) repeat-y top left;
	height:465px;
	padding:10px;
}

/*
ul.lieux_actif
{
	background: url(../images/carto/lieux_hover.png) no-repeat top left !important;
}

ul.rues_actif
{
	background: url(../images/carto/rues_hover.png) no-repeat top left !important;
}

ul.plans_actif
{
	background: url(../images/carto/plan_hover.png) no-repeat top left !important;
}
*/


div#tabs ul.first li.li-lieux {
	margin:0px;
	/*width:112px;*/
	width:auto;
	position:relative;
	top:0;
	left:0px;
}

div#tabs ul.first li.li-rues {
	margin:0px;
	/*width:89px;*/
	width:auto;
	position:relative;
	top:0;
	left:-20px;
}

div#tabs ul.first li.li-plans {
	margin:0px;
	/*width:60px;*/
	width:auto;
	position:relative;
	top:0;
	left:-40px;
}


ul.first li.li-lieux a{
	background: url(../images/carto/bg.png) repeat top left;
	width:76px;
	height:42px;
	display:block;
	float:left;
	z-index:10;
	position:relative;
}

ul.first li.li-rues a{
	background: url(../images/carto/bg.png) repeat top left;
	width:53px;
	height:42px;
	display:block;
	float:left;
	z-index:10;
	position:relative;
}

ul.first li.li-plans a{
	background: url(../images/carto/bg.png) repeat top left;
	width:24px;
	height:42px;
	display:block;
	float:left;
	z-index:10;
	position:relative;
}

ul.first li.ui-tabs-selected a{
	background: url(../images/carto/bg_active.png) repeat top left;
}

ul.first li.li-lieux a span.content-li{
	display:block;
	margin:12px -10px 12px 3px;
}

ul.first li.li-rues a span.content-li{
	display:block;
	margin:12px -10px 12px -10px;
}

ul.first li.li-plans a span.content-li{
	display:block;
	margin:12px -10px 12px -10px;
}


ul.first li span.deb-li{
	background: url(../images/carto/bg_begin.png) repeat top left;
	display:block;
	float:left;
	height:42px;
	width:30px;
	position:relative;
	z-index:9;
}

ul.first li span.fin-li{
	background: url(../images/carto/bg_end.png) repeat top left;
	display:block;
	float:left;
	width:30px;
	height:42px;
	position:relative;
	z-index:9;
}

ul.first li.ui-tabs-selected span.deb-li{
	background: url(../images/carto/bg_begin_active.png) repeat top left;
}

ul.first li.ui-tabs-selected span.fin-li{
	background: url(../images/carto/bg_end_active.png) repeat top left;
}

div.debut_bloc{
	background: url(../images/carto/menu_bas.png) repeat top left;
	width:290px;
	height:20px;	
}

.block
{
	display:block;
}

.bold
{
	font-weight:bold;
}

.myCheckbox0
{
	float:left;
	width:15px;
	height:15px;
	margin: 0 5px;
	background:url(../images/carto/checkbox0.png) no-repeat;
	cursor:pointer;
}
.myCheckbox1
{
	float:left;
	width:15px;
	height:15px;
	margin: 0 5px;
	background:url(../images/carto/checkbox1.png) no-repeat;
	cursor:pointer;
}
.myCheckbox2
{
	float:left;
	width:15px;
	height:15px;
	margin: 0 5px;
	background:url(../images/carto/checkbox2.png) no-repeat;
	cursor:pointer;
}

.lblBlanc
{
	color:#FFF;
	font-weight:bold;
	font-size:14px;
	margin:5px 0;
}

.lblOrange
{
	color:#EF4F00;
}

.marginTop15
{
	margin-top:15px;
}

.lblCateg
{
	font-size:12px;
	vertical-align: top;
	margin:0;
	padding:0;
	cursor:pointer;
	min-height:18px !important;
	/*display:block;
	float:left;*/
}

.lblLieu
{
	font-size:12px;
	margin:0;
	padding:0;
	display:block;
	float:left;
	width:86%;
	line-height:15px;
}
.lblLieu a {
	text-decoration:underline;
}
ul#listeLieux li .ez-checkbox, ul#listePlans li .ez-checkbox
{
	width:8%;
}

#cartoPanel :active 
{
	outline: none;
	color:inherit; 
	font-weight:inherit;
}
#cartoPanel .bold:active 
{
	font-weight:bold;
}
#cartoPanel .lblLieu :active 
{
	font-weight:normal;
	color:#333333;
}
#credit-carto {
	width:312px;
	height:30px;
	margin:0 auto;
	background:url(../images/carto/creation_adscom.png) no-repeat;
	color:#7686a2;
	padding:7px 0 0 26px;
	font-family:Verdana,Helvetica,sans-serif;
	font-size: 85%;
}
#credit-carto a {
	text-decoration:underline;
	color:#7686a2;
}

.gmnoprint h2 {
	margin:0;
	padding:0;
	font-size:14px;
	font-weight:bold;
}
.gmnoprint {
	font-family:Arial, Helvetica, sans-serif;
}
.gmnoprint div
{
  overflow: hidden !important;
}
.gmnoprint b
{
  padding-top:3px;
	font-weight:bold;
}

#print {
	display:none;
}

/* attention specifique */
#tabs .li-lieux {
	width:90px;
}
#tabs .li-rues {
	width:62px;
}
#tabs .li-plans {
	width:50px;
}
.btfermer {
	width:100%;
	position:absolute;
	z-index:10;
	top:0px;
	display:block;
	height:1px;
}
.btfermer a {
	position:relative;
	height:24px;
	width:140px;
	cursor:pointer;
	display:block;
	margin:auto;
	background:url('../images/carto/fermer.png');
}


@media print {
	#print {
		display:block;
		border:#000 solid 1px;
		float:left;
		width:300px;
	}
	.gmnoprint {
		display:none;
	}
}